@import "tailwindcss";

body {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  line-height: 1.6;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 700;
  margin-bottom: 0.5rem;
}

a {
  color: #3b82f6; /* Mavi */
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}
.hakkimda-page h1 {
  color: #3b82f6; /* Mavi */
  margin-bottom: 1rem;
}

.hakkimda-page h2 {
  color: red; /* Koyu Gri */
  margin-bottom: 0.75rem;
}

.hakkimda-page p {
  line-height: 1.7;
}

.hakkimda-page .team-member {
  border: 1px solid #e5e7eb; /* Açık Gri */
  padding: 1.5rem;
  border-radius: 0.5rem;
}

.hakkimda-page .team-member img {
  border-radius: 100%;
  margin-bottom: 1rem;
}

.hakkimda-page .team-member h3 {
  color: #1f2937; /* Çok Koyu Gri */
  margin-bottom: 0.5rem;
}

.hakkimda-page .team-member p {
  color: #6b7280; /* Orta Gri */
}
